:root{
    --main-color: #929fba;
    --secondary-color: #cececebc;
    --dark-color: #667aa3;
    --lighter-color:#e1e1e1;
    --light-color: #e1e1e1;

    --font-smaller: 14px;
    --font-bigger: 20px;  
}
*,::before,::after{
    box-sizing: border-box;
}
div.card {
    width: 100%; /*Imposto larghezza e altezzza delle cards*/
    height: 100%;
}

img.card-img-top{
    height: 500px; /*Imposta grandezza standard per le foto e fa in modo che non si deformino*/
    object-fit: cover;
}

.navbar{
    transition: all 0.3s ease; /* Aggiunge una transizione fluida */
}

#login, #logout {
    color: #007bff; /* Imposta il colore che desideri, es. nero */
    text-decoration: none; /* Rimuove la sottolineatura */
    font-size: large;
}

#login:hover {
    color: #0057b4; /* Cambia il colore al passaggio del mouse */
}

#logout:hover {
    color: #0057b4; /* Cambia il colore al passaggio del mouse */
}

#welcomeUser {
    font-size: large;
    margin-right: 0.8em;
}

#login-body {
    background: linear-gradient(rgba(223, 221, 221, 0.5), rgba(206, 205, 205, 0.5)),
    url(/img/sirmione-hd.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin: 0;
    padding: 0;
}

#login-container {
    background-color: white;
    border-radius: 25px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-top: 1em;
}

#zenzero-login {
    margin-bottom: 0.5em;
    font: 24pt normal;
}

.form-group {
    margin-bottom: 2em;
}

#pills-tab {
    margin-left: 2em;
}

.login-bi {
    font: 16pt normal;
    margin-top: 0.5em;
    margin-right: 2em;
}

.toggle-pwd {
    display: flex;
    margin-right: 1em;
    float: right;
    margin-top: -1.5em;
    margin-bottom: 0.6em;
    font-size: larger;
    transition: color 0.1s ease-in-out;
    cursor: pointer;
}

.toggle-pwd:hover {
    color: rgb(197, 186, 186);
  }

.login-label {
    margin-left: 0.5em;
    margin-bottom: 0.3em;
    display: flex;
}

.btn-login {
    margin-top: 0.7em;
    width: 45%;
}

.bi-info-circle-fill {
    margin-right: 0.4em;
}

#info-pwd {
    margin-left: 0.5em;
    margin-bottom: 0.2em;
    display: flex;
    text-align: left;
    font-size: small;
}

.invalid-input {
    margin-left: 0.5em;
    float: left;
    color: #bd2626;
    font-weight: bold;
}

#password-space {
    margin-bottom: 2.7em;
}



div#titolo{
    max-width: 680px;
}

#titoloHome, #mapHome, #descrizione, #gallery, #prenotaOra #prenotazioniUtente{
    background-color: #cececebc;
}

#cardsHome, #topHome, #descrizione2, #formPrenota{
    background-color: #929fba
}

#caroselloHome img{
    height: 500px; /* Altezza massima desiderata */
    object-fit: cover; /* Copre completamente la scatola mantenendo le proporzioni */
    object-position: center center; /* Cambia la posizione dell'immagine, puoi regolare i valori per decidere quale porzione mostrare */
}

.btn-prenota {
    background-color: rgba(0, 0, 0, 0.5) !important; /* Colore di sfondo */
    color: #ffffff !important;           /* Colore del testo */
    border-color: #cececebc !important;    /* Colore del bordo */
    font-size: 90%;                   /* Dimensione del testo più grande */
    padding: 20px 40px;                  /* Padding per aumentare le dimensioni del bottone */
    border-radius: 10px;                  /* Arrotondare gli angoli del bottone */
    text-decoration: none;               /* Rimuovere la sottolineatura del link */
    display: inline-block;               /* Assicurarsi che si comporti come un bottone */
}

.btn-prenota:hover {
    background-color: #929fba !important; /* Colore di sfondo al passaggio del mouse */
    border-color: #929fba !important;     /* Colore del bordo al passaggio del mouse */
    color: #ffffff !important;            /* Mantenere il colore del testo bianco */
}

.btn-custom {
    background-color: #929fba !important; /* Colore di sfondo */
    color: #ffffff !important;           /* Colore del testo */
    border-color: #929fba !important;    /* Colore del bordo */
    font-size: 90%;                   /* Dimensione del testo più grande */
    padding: 20px 40px;                  /* Padding per aumentare le dimensioni del bottone */
    border-radius: 10px;                  /* Arrotondare gli angoli del bottone */
    text-align: center;                  /* Centrare il testo */
    text-decoration: none;               /* Rimuovere la sottolineatura del link */
    display: inline-block;               /* Assicurarsi che si comporti come un bottone */
}

.btn-custom:hover {
    background-color: #060606bc !important; /* Colore di sfondo al passaggio del mouse */
    border-color: #cececebc !important;     /* Colore del bordo al passaggio del mouse */
    color: #ffffff !important;            /* Mantenere il colore del testo bianco */
}

#carouselExampleIndicators {
    position: relative;
    z-index: 0; /* Assicura che il carosello sia dietro la form */
}

#carouselExampleIndicators .carousel-caption {
    background: rgba(0, 0, 0, 0.5); /* Colore nero con 50% di trasparenza */
    color: #ffffff;

}

#carouselExampleIndicators .carousel-caption h3 {
    color:#ffffff;
    font-family: "exotc350_dmbd_btdemi-bold";
    font-size: 3rem;
    text-transform:capitalize;
    letter-spacing:2px;
    font-weight:400;
    margin-bottom:4px;
}
#carouselExampleIndicators .carousel-caption p{
    font-size:2rem;
    font-weight:400;
    color:#ffffff;
    font-family: "exotc350_dmbd_btdemi-bold";
    margin-bottom:0;
    margin-top:0;
}

li a.active {
    background-color: lightgray;
}


.card-custom {
    border: 1px solid #cececebc !important;
    border-radius: 5px;
    background-color: #cececebc !important;
    padding: 20px;
}

.card-custom-header{
    background-color: #929fba
}

/* Stile generale del footer */
footer {
    background-color: #929fba;
    color: white;
    padding: 15px 0; /* Ridotto da 30px a 15px per diminuire l'altezza */
    margin-top: 40px; /* Aumentato il margine superiore per maggior distanziamento */
}

/* Stile per i link nel footer */
footer a {
    color: white;
    text-decoration: none;
    margin-bottom: 10px;
}

footer a:hover {
    text-decoration: underline;
}

/* Stile per gli elementi di intestazione del footer */
footer h6 {
    font-weight: bold;
    margin-bottom: 15px;
    text-align: left;
}

/* Stile per gli elementi del corpo del footer */
footer p {
    margin-bottom: 10px;
    margin-left: 0;
    text-align: left;
}

/* Stile per gli elementi di icone */
footer i {
    margin-right: 10px;
}

div.footer {
    background-color: #929fba;
    padding: 15px 0; /* Ridotto da 30px a 15px per diminuire l'altezza */
}

.bg-container {
    position: relative;
    width: 100%;
    height: 300px; /* Altezza desiderata per l'immagine di sfondo */
    background: url('../img/ZenFuori.jpg') no-repeat center center;
    background-size: cover;
}

.bg-container .carousel-caption {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(0, 0, 0, 0.5); /* Colore nero con 50% di trasparenza */
    color: #ffffff;
    text-align: center;
    border-radius: 10px;
}

.bg-container .carousel-caption h3 {
    color: #ffffff;
    font-family: "exotc350_dmbd_btdemi-bold";
    font-size: 3rem;
    text-transform: capitalize;
    letter-spacing: 2px;
    font-weight: 400;
    margin-bottom: 4px;
}

.li-container {
    position: relative;
    width: 100%;
    height: 300px; /* Altezza desiderata per l'immagine di sfondo */
    background: url('../img/gardalandlogo12.jpg') no-repeat center center;
    background-size: cover;
}

.li-container .carousel-caption {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(0, 0, 0, 0.5); /* Colore nero con 50% di trasparenza */
    color: #ffffff;
    text-align: center;
    border-radius: 10px;
}

.li-container .carousel-caption h3 {
    color: #ffffff;
    font-family: "exotc350_dmbd_btdemi-bold";
    font-size: 3rem;
    text-transform: capitalize;
    letter-spacing: 2px;
    font-weight: 400;
    margin-bottom: 4px;
}

.co-container {
    position: relative;
    width: 100%;
    height: 300px; /* Altezza desiderata per l'immagine di sfondo */
    background: url('../img/contatti.jpg') no-repeat center center;
    background-size: cover;
}

.co-container .carousel-caption {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(0, 0, 0, 0.5); /* Colore nero con 50% di trasparenza */
    color: #ffffff;
    text-align: center;
    border-radius: 10px;
}

.co-container .carousel-caption h3 {
    color: #ffffff;
    font-family: "exotc350_dmbd_btdemi-bold";
    font-size: 3rem;
    text-transform: capitalize;
    letter-spacing: 2px;
    font-weight: 400;
    margin-bottom: 4px;
}

/* Stili personalizzati */
body {
    background-color: #f8f9fa;
    font-family: Arial, sans-serif;
}

.container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
}

.btn-primary {
    background-color: #007bff;
    border-color: #007bff;
}

.btn-primary:hover {
    background-color: #0056b3;
    border-color: #0056b3;
}

.btn-group-vertical .btn {
    min-width: 120px; /* Puoi regolare questo valore secondo le tue necessità */
}

.form-container {
    margin-top: 20px;
    padding: 20px;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}

.form-container .btn {
    margin-top: auto;
}

.summary-card {
    border: 1px solid #dee2e6;
    border-radius: 5px;
    background-color: #fff;
    padding: 20px;
}

.total-section {
    background-color: #e9ecef;
    text-align: center;
    border-radius: 5px;
    padding: 20px;
    margin-top: 20px;
}

.price-info {
    background-color: #fff;
    border: 1px solid #dee2e6;
    border-radius: 5px;
    padding: 20px;
    margin-top: 20px;
}

.price-label {
    font-weight: bold;
}

header {
    text-align: center;
    padding: 100px 0;
    color: #fff;
}

header h1 {
    font-size: 48px;
    font-weight: bold;
}

.carousel-container {
    margin: 0 auto;
    padding: 20px;
    width: 80%; /* Imposta la larghezza desiderata per il carosello */
    max-height: 500px; /* Imposta l'altezza desiderata per il carosello */
}

.carousel-item img {
    width: auto; /* Utilizza la larghezza originale dell'immagine */
    height: auto; /* Utilizza l'altezza originale dell'immagine */
    max-width: 100%; /* Assicura che l'immagine non superi mai la larghezza del contenitore */
    max-height: 100%; /* Assicura che l'immagine non superi mai l'altezza del contenitore */
}

.place-header{
    background-image: url('../img/gardalandlogo12.jpg');
    background-size: cover;
    background-position: center;
    font-family: "exotc350_dmbd_btdemi-bold";
    font-size: 3.5rem;
}

.contact-text{
    font-size: 1.25rem;
    color: black;
    text-decoration: none;
    margin-bottom: 10px;
}

.contact-text :hover{
    text-decoration: underline;
}

ul.regole{
    background-color: #929fba
}












#container-w{
    max-width: 1100px;
    margin: 0 auto;
    max-height: 900px;
}

.form-box{
    display: flex;
    flex-direction: column;
    border: 8px solid var(--main-color);
    border-radius: 15px;
    background-color: var(--secondary-color) ;
}

.form-box .progress{
    width: 90%;
    position: relative;
    padding: 10em;
    background-color: transparent;
}
.progress ul.progress-steps{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: center;
    gap: 30%;
    margin-bottom: 0em;
    margin-left: 45%;
}
.progress ul.progress-steps li{
    position: relative;
    display: flex;
    align-items: flex-start;
    margin-bottom: 2em;
    margin-left: -100%;
}
.progress ul.progress-steps li > span{
    position: relative;
    width: 39px;
    height: 39px;
    font-size: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 0em;
    border-radius: 100%;
    background-color: var(--lighter-color);
    z-index: 1;
    margin-top: 50%;
}
.progress ul.progress-steps li.active > span{
    color: white;
    background-color: var(--main-color);
    border: 4px solid var(--secondary-color);
    z-index: 1;
}
.progress ul.progress-steps li p span{
    font-size: var(--font-smaller);
    color: var(--light-color);
    display: none;
    
}
.progress ul li p{
    position: absolute;
    top: -2em;
    font-size: 15px;

}

.form-box form{
    width: 100%;
    padding: 3em 1em;
    background-color: white;
    border-radius: 30px 30px 15px 15px;    
}
.form-box .form-one > div{
    max-width: 400px;
}
.form-box form > div p{
    margin-bottom: 2em;
}
.form-box form > div > div{
    display: flex;
    flex-direction: column;
}
.form-box form:where(input,select){
    height: 40px;
    padding: 0 1em;
    border-radius: 7px;
    outline-color: var(--secondary-color);
    border: 1px solid var(--lighter-color);
    background-color: transparent;
}
.form-box form label{
    font-size: var(--font-smaller);
    margin-bottom: 0.5 em;
    font-weight: 600;
}
.form-box form .grouping{
    display: flex;
}
.form-box form .grouping input{
    max-width: 70px;
    text-align: center;
    margin-right: 1em;
}

.form-box form > div:not(.btn-group){
    display: none;
    -webkit-animation: fadeIn .6s cubic-bezier(0.39, 0.575, 0.565, 1) both;
    animation: fadeIN .6s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}
@keyframes fadeIn {
    0%{
        opacity: 0;
        -webkit-transform: translateX(10%);
        transform: translateY(10%);
    }
    100%{
        opacity: 1;
        -webkit-transform: translateX(0);
        transform: translateY(0);
    }
    
    
}
.form-box form > div.active{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: space-around;
}
/* mostra solo la sezione che è attiva
 */
.form-box form > div.form-four.active{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}
.form-box form > div.active > h2{
    text-align: center;
}
.btn-group, .btn-calendar{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 1em;
    margin-top: 2em;
    margin-right: 50%;
    margin: 1em auto;

    
}
.btn-group [class*="btn-"], .btn-calendar{
    background-color: var(--main-color);
    color: white;
    padding: 1em 2.5em;
    border: 4px solid var(--secondary-color);
    border-radius: 30px;
    cursor: pointer;
    -webkit-transition: background-color .3s, border-color .3s ease-out;
    transition: background-color .3s, border-color .3s ease-out;
}
.btn-group [class*="btn-"]:disabled{
    background-color: var(--light-color);
    border: var(--lighter-color);
    cursor: text;
}
.btn-group [class*="btn-"]:hover:not(:disabled), .btn-calendar:hover{
    background-color: var(--dark-color);
    border-color: var(--light-color);
}

.btn-group .btn-submit, .form-four.active ~ .btn-group .btn-next{
    display: none;
}
.form-four.active ~ .btn-group .btn-submit{
    display: block;
    display: flex;
    align-items: center;
    justify-content: center; /* Per centrare il contenuto */
    text-align: center; /* Per il testo */
}
.bi-check-circle-fill {
    margin-left: 5px; /* Questo crea lo spazio tra l'icona e il testo */
}
.form-four.active ~ .btn-group{
    justify-content: space-between;
    display: flex;
}

::placeholder{
    color: var(--light-color);
}
.prezzo-output {
    font-weight: bold;
    color: #333;
    margin-top: 8px;
    font-size: 1.2em;
}

@media screen and (min-width: 800px){
    #container-w{
        max-width: 1100px;
        margin: 0 auto;
    }
    .form-box{
        flex-direction: row;
    }
    .form-box .progress{
        flex: 1 1 10%;
        min-width: 300px;
        padding-top: 25%;
        padding-right: 10em;
    }

    .progress ul.progress-steps{
        flex-direction: column;
        gap: 0;
        margin-right: 2em;
        align-items: center;
        justify-content: center;
        gap: 1em;
        flex-wrap: nowrap;
        margin-bottom: 0em;
        margin-left: 0%;
    }
    .progress ul.progress-steps li:not(:last-child)::before{
        content: '';
        position: absolute;
        left: 20px;
        top: 30px;
        width: 2px;
        height: 65px;
        background-color: var(--lighter-color);
    }
    .form-box form{
        padding: 3em;
        border-radius: 0px 15px 15px 0px;    
    }
    .progress ul li p{
        position: relative;
        top: auto;
        white-space: nowrap;
    }
    .progress ul li p span{
        display: block;
    }
    .progress ul.progress-steps li{
        width: 100%;
    }
    .progress ul.progress-steps li > span{
        margin-right: 1em;
        margin-top: 0%;

    }
    
}

.input-group {
    position: relative;
}

.input-group .input-group-addon {
    position: absolute;
    right: 10px; /* Distanza dall'estremità destra */
    top: 50%;
    transform: translateY(-50%);
    z-index: 10; /* Assicura che l'icona sia sopra il campo input */
    pointer-events: none;
}















.select-box {
    position: relative;
}

.select-box input {
    width: 100%;
    padding: -1rem .6rem;
    font-size: 1.1rem;
    
    border: .1rem solid transparent;
    outline: none;
}

input[type="tel"] {
    border-radius: 0 .5rem .5rem 0;
}

.select-box input:focus {
    border: .1rem solid var(--primary);
}

.selected-option {
    background-color: #eee;
    border-radius: .5rem;
    overflow: hidden;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.selected-option div{
    position: relative;

    width: 6rem;
    padding: 0 2.8rem 0 .5rem;
    text-align: center;
    cursor: pointer;
}

.selected-option div::after{
    position: absolute;
    content: "";
    right: .8rem;
    top: 50%;
    transform: translateY(-50%) rotate(45deg);
    
    width: .8rem;
    height: .8rem;
    border-right: .12rem solid var(--primary);
    border-bottom: .12rem solid var(--primary);

    transition: .2s;
}

.selected-option div.active::after{
    transform: translateY(-50%) rotate(225deg);
}

.select-box .options {
    position: absolute;
    top: 4rem;
    
    width: 100%;
    background-color: #fff;
    border-radius: .5rem;

    display: none;
}

.select-box .options.active {
    display: block;
    z-index: 1;
}

.select-box .options::before {
    position: absolute;
    content: "";
    left: 1rem;
    top: -1.2rem;

    width: 0;
    height: 0;
    border: .6rem solid transparent;
    border-bottom-color: var(--primary);
}

input.search-box {
    background-color: var(--primary);
    color: #fff;
    border-radius: .5rem .5rem 0 0;
    padding: 1.4rem 1rem;
}

.select-box ol {
    list-style: none;
    max-height: 17rem;
    overflow: overlay;
}

.select-box ol::-webkit-scrollbar {
    width: 0.6rem;
}

.select-box ol::-webkit-scrollbar-thumb {
    width: 0.4rem;
    height: 3rem;
    background-color: #ccc;
    border-radius: .4rem;
}

.select-box ol li {
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
}

.select-box ol li.hide {
    display: none;
}

.select-box ol li:not(:last-child) {
    border-bottom: .1rem solid #eee;
}

.select-box ol li:hover {
    background-color: lightcyan;
}

.select-box ol li .country-name {
    margin-left: .4rem;
}